<div>
  <h3>編集する</h3>
  <%= form_with(model: @shop, local: true) do |form| %>
    <%= form.text_field :name, placeholder: "お店の名前" %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
    <%= form.text_field :address, placeholder: "住所" %>
    <%= form.submit "投稿する" %>
  <% end %>
</div>